<ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
      <li role="menuitem"><a href="#s7">SS Home</a></li>
      <li role="menuitem"><a href="#s7sh">Schedule</a></li>
      <li class="divider"></li>
      <li role="menuitem"><a href="#1">1</a></li>
      <li role="menuitem"><a href="#2">2</a></li>
      <li role="menuitem"><a href="#3">3</a></li>
      <li role="menuitem"><a href="#4">4</a></li>
      <li role="menuitem"><a href="#5">5</a></li>
      <li role="menuitem"><a href="#6">6</a></li>
      <li role="menuitem"><a href="#6">7</a></li>
</ul>