        <STYLE type=text/css>DIV#sBar {
          BORDER-RIGHT: #dfdfdf 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #dfdfdf 1px solid; PADDING-LEFT: 0px; LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; BORDER-LEFT: #dfdfdf 1px solid; WIDTH: 728px; PADDING-TOP: 0px; BORDER-BOTTOM: #dfdfdf 1px solid; LIST-STYLE-TYPE: none; POSITION: static; HEIGHT: 29px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
        }
        DIV#sBar LI {
          PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
        }
        #sBar DIV.sBarInside {
          PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
        }
        #sBar DIV.sBarInside IMG {
          BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
        }
        #sBar DIV.sBarInside STRONG SPAN.checkItOut {
          FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #0000ff; FONT-FAMILY: arial, helvetica; TEXT-DECORATION: underline
        }
        #sBar DIV.sBarInside STRONG {
          FONT-SIZE: 15px; FLOAT: left; MARGIN: 6px 0px 0px 5px; CURSOR: hand; FONT-FAMILY: arial, helvetica
        }
        #sBar DIV.trial {
          PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
        }
        #sBar DIV.trial IMG {
          FLOAT: right
        }
        BODY {
          BACKGROUND: #96a2ae; TEXT-ALIGN: center
        }
        A {
          COLOR: #000; TEXT-DECORATION: none
        }
        A:hover {
          TEXT-DECORATION: underline
        }
        #bg {
          BACKGROUND: url(bg.jpg); MARGIN: 0px auto; WIDTH: 900px; HEIGHT: 900px
        }
        #wrap {
          MARGIN: 0px auto; WIDTH: 800px; POSITION: relative; TOP: 50px; TEXT-ALIGN: left
        }
        .float-l {
          FLOAT: left
        }
        .float-r {
          FLOAT: right
        }
        .left {
          BACKGROUND: #e7ecef; WIDTH: 233px; HEIGHT: 780px
        }
        .right {
          BACKGROUND: #fff; WIDTH: 567px; HEIGHT: 780px
        }
        #logo {
          BACKGROUND: url(hdr.jpg); HEIGHT: 210px
        }
        #logo H1 {
          FONT-SIZE: 34px; COLOR: #223802
        }
        #logo H1 {
          PADDING-RIGHT: 0px; PADDING-LEFT: 100px; PADDING-BOTTOM: 0px; PADDING-TOP: 70px
        }
        #logo DIV {
          PADDING-LEFT: 150px
        }
        UL#nav {
          PADDING-RIGHT: 50px; PADDING-LEFT: 50px; BACKGROUND: url(hdl.jpg); PADDING-BOTTOM: 0px; PADDING-TOP: 50px; HEIGHT: 176px
        }
        UL#nav LI {
          LINE-HEIGHT: 1.9em; BORDER-BOTTOM: #fff 1px solid
        }
        UL#nav LI A {
          COLOR: #ffffff
        }
        #meun H2 {
          PADDING-RIGHT: 0px; PADDING-LEFT: 40px; FONT-SIZE: 24px; PADDING-BOTTOM: 0px; PADDING-TOP: 30px
        }
        #meun UL {
          PADDING-RIGHT: 50px; PADDING-LEFT: 50px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
        }
        #meun LI {
          LIST-STYLE-POSITION: inside; COLOR: #336666; LINE-HEIGHT: 1.9em; BORDER-BOTTOM: #88bcbc 1px solid; LIST-STYLE-TYPE: disc
        }
        #meun LI A {
          COLOR: #336666
        }
        #main H2 {
          PADDING-RIGHT: 50px; PADDING-LEFT: 50px; FONT-SIZE: 36px; PADDING-BOTTOM: 0px; COLOR: #669900; PADDING-TOP: 50px
        }
        #main P {
          PADDING-RIGHT: 50px; PADDING-LEFT: 50px; PADDING-BOTTOM: 0px; PADDING-TOP: 20px
        }
        #footer {
          CLEAR: both; HEIGHT: 60px
        }
        #footer A {
          COLOR: #ffffff
        }
        #footer {
          LEFT: 20px; COLOR: #fff; POSITION: relative; TOP: 10px
        }
        #xhtml {
          LEFT: 550px; POSITION: absolute
        }

        </STYLE>
        <SCRIPT src="Simply7_files/redvase.js" type=text/javascript 
        charset=utf-8></SCRIPT>

        <DIV id="bg">
        <DIV id="wrap">
        <DIV class="float-l left">
        <UL id=nav>
                <LI><A href="http://kseven.bravehost.com/#"><font color="#000000">Home</font></A> 
                <LI><font color="#000000"><A href="http://kseven.bravehost.com/#">About 
                  us</A> </font>
                <LI><font color="#000000"><A href="http://kseven.bravehost.com/#">Production</A> 
                  </font>
                <LI><font color="#000000"><A href="http://kseven.bravehost.com/#">Contact</A> 
                  </font></LI>
              </UL>
        <DIV id=meun>
        <H2>Sections</H2>
        <UL>
          <LI><A href="#/1">1</A> </LI>
          <LI><A href="#/2">2</A> </LI>
          <LI><A href="#/3">3</A> </LI>
          <LI><A href="#/4">4</A> </LI>
          <LI><A href="#/5">5</A> </LI>
          <LI><A href="#/6">6</A> </LI>
          <LI><A href="#/7">7</A> </LI>
        </UL>
        </DIV>
        </DIV>
        <DIV class="float-r right">
        <DIV id=logo>
        <H1>Simply7</H1>
        <DIV>seven beautifyl feelings</DIV></DIV>
        <DIV id=main><IMG alt="" src="simply/Simply7_files/img.jpg"> 
        <H2>Free CSS Templates</H2>
        <P>This is  fully standards-compliant designed by Kotesh
        <A href="http://www.free-css-templates.com/"> </P></DIV></DIV>
            <!-- /footer -->
          </DIV>
        </DIV><BR>
        <DIV style="TEXT-ALIGN: center"><BR>
          <SCRIPT type=text/javascript charset=utf-8>
            var redvase_ad = { version: 1.5 };
            redvase_ad.publisher = 'bravenet';
            redvase_ad.kind      = 'bravehost_footer_072309_1';
            redvase_ad.content   = 'creative'
            </SCRIPT>

        </DIV>